<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>view</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body>
        
        <header class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="brand">logo</a>
                </div>
                <nav class="navbar-nav pull-right">
                    <ul>
                        <li><a href="">用户信息页</a></li>
                        <li><a href="">注册</a></li>
                        <li><a href="">登录</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        
        <div class="main">
            <div class="hero-unit">
              <h1>Hi！这个是一个简单的首页</h1>
              <p>可以进行用户注册与登录。</p>
              <p><a class="btn btn-primary" href="/register">注册</a><a class="btn btn-success" href="/login">登录</a></p>
            </div>
        </div>
        <footer>
            <p class="text-center">&copy; 2013 faith. </p>
        </footer>
        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
