<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>view</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body>
        
        <header class="navbar">
            <div class="navbar-header">
                <a class="navbar-brand" href="">主页</a>
            </div>
            <nav>
                <ul class="navbar-nav">
                    <li><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                </ul>
            </nav>
        </header>

        
            <form id="registerform" class="form-vertical">
                <div class="control-group normal-text"><h3>注册</h3></div>
                <div class="control-group">
                    <div class="controls">
                        <div class="add-input text-right">
                                        <span class="add-on bg-username">
                                            <label for="username">账号</label>
                                        </span>
                            <input type="text" placeholder="账号" name="username" id="username">
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="add-input text-right">
                                        <span class="add-on bg-password">
                                            <label for="password">密码</label>
                                        </span>
                            <input type="password" placeholder="密码" name="password" id="password">
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="add-input text-right">
                                        <span class="add-on bg-password">
                                            <label for="confirm_password">确认密码</label>
                                        </span>
                            <input type="password" placeholder="确认密码" name="confirm_password" id="confirm_password">
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="add-input text-right">
                                        <span class="add-on bg-password">
                                            <label for="name">姓名</label>
                                        </span>
                            <input type="text" placeholder="姓名" name="name" id="name">
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <span class="pull-left"><button type="reset" class="btn btn-primary">重置</button></span>
                    <span class="pull-right"><button type="submit" class="btn btn-success">注册</button></span>
                </div>
            </form>
        


        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
