/**
 * 样式工具类
 *
 * 简便的方式提供渲染或者布局方式
 */
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }

.clearfix {
  &:before,
  &:after {
    content: " "; 
    display: table; 
  }
  &:after {
    clear: both;
  }
}